/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

/* Fullscreen Setup */
html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-family: "komet", sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 28px;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

body.interacting {
  user-select: none;
}

/* Layout */
main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: repeating-conic-gradient(
    #ffffff 0deg 90deg,
    #c2c2c2 90deg 180deg
  );
  background-size: 4px 4px;
  border: 48px solid #c2c2c2;
}

/* Typography */
.logo {
  margin-top: 24px;
}

h1 {
  font-size: 18px;
  margin-bottom: 12px;
  border-bottom: 2px solid black;
}

h2,
h3 {
  font-size: 14px;
  border-bottom: 2px solid black;
  margin: 16px 0 12px;
}

::selection {
  background: black; /* Background color */
  color: white; /* Text color */
}

/* Lists */
ul {
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 6px;
}

li div {
  display: flex;
  align-items: center;
  gap: 4px;
}

li:last-of-type {
  margin-bottom: 0;
}

/* Links */
a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  position: relative;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 300ms ease-in-out;
}

a:hover::after {
  width: 100%;
}

/* Windows Styling */
.main-window,
#notepad-outer,
#calc-outer,
footer {
  background-color: white;
  border: 2px solid black;
  box-shadow: 8px 8px 0 0 black;
}

.main-window {
  max-width: 720px;
  margin: 24px;
  z-index: 5;
}

.window-content {
  padding: 24px;
}

/* Notepad Styling */
#notepad-outer {
  position: absolute;
  width: 400px;
  height: 420px;
  top: 200px;
  /* left: 15%; */
  transform: translateX(-125%);
  display: flex;
  flex-direction: column;
  z-index: 2;
}

#notepad-outer.active {
  z-index: 3;
}

.notepad-content {
  display: flex;
  height: 100%;
}

.notepad-content textarea {
  font-family: "cofo-sans-pixel", sans-serif;
  font-size: 16px;
  border: none;
  resize: none;
  flex: 1;
  padding: 16px 24px;
  line-height: 36px;
  outline: none;
  letter-spacing: 1px;
}

#notepad-header,
#calc-header {
  cursor: grab;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 12px;
  border-bottom: 2px solid black;
  padding: 6px 0;
  text-align: center;
  user-select: none;
}

#notepad-header.grabbing,
#calc-header.grabbing,
#note-handle.grabbing {
  cursor: grabbing;
}

/* Calculator Styling */
#calc-outer {
  position: absolute;
  width: 300px;
  height: 480px;
  top: 340px;
  left: 50%;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  z-index: 8;
}

#calc-outer.active {
  z-index: 3;
}

.calc-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px;
  background: repeating-conic-gradient(#000 0deg 90deg, #fff 90deg 180deg);
  background-size: 4px 4px;
}

.calc-content .row {
  display: flex;
  justify-content: space-between;
}

.calc-content .button-square {
  font-family: "cofo-sans-pixel", sans-serif;
  font-size: 16px;
  display: flex;
  width: 48px;
  height: 48px;
  border: 2px solid black;
  box-shadow: 4px 4px 0 0 black;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: white;
  margin: 0 4px 4px 0;
}

.button-square.double {
  width: 113px;
}

@keyframes press {
  0% {
    box-shadow: 0px 0px 0 0 black;
    margin: 4px 0 0 4px;
    background: lightgray;
  }
  100% {
    box-shadow: 4px 4px 0 0 black;
    margin: 0;
    background: white;
  }
}

.button-square.animate-press {
  animation: press 1s steps(2);
}

#result-window {
  background: white;
}

.calc-content #result-window {
  font-family: "cofo-sans-pixel", sans-serif;
  font-size: 16px;
  display: flex;
  width: 100%;
  height: 48px;
  border: 2px solid black;
  box-shadow: inset 4px 4px 0 0 lightgray;
  align-items: center;
  justify-content: flex-end;
  padding: 0 24px;
  text-overflow: ellipsis;
  overflow: hidden;
}

footer {
  padding: 12px 24px;
  margin-top: 24px;
  margin-bottom: 96px;
}

/* Note UI */
.note {
  font-family: "cofo-sans-pixel", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  background: #fff9b8;
  color: black;
  display: block;
  position: absolute;
  z-index: 9;
  border-right: 2px solid #ffd157;
  border-bottom: 2px solid #ffd157;
  border-top: 2px solid white;
  border-left: 2px solid white;
  box-shadow: 8px 8px 0 0 black;
  width: 256px;
  min-height: 200px;
  word-wrap: break-word;
}

#note {
  top: 70%;
  transform: translateX(-210%);
}

/* Note content styling */
.note p {
  margin: 0;
  padding: 12px 24px 24px 24px;
  min-height: 50px;
}

/* Draggable note handle */
.note-handle {
  box-sizing: border-box;
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #ffd157;
  padding: 0 8px;
  cursor: grab;
  justify-content: space-between;
}

/* Close button for notes */
.kill {
  width: 10px;
  height: 10px;
  border-right: 2px solid #ffd157;
  border-bottom: 2px solid #ffd157;
  border-top: 2px solid white;
  border-left: 2px solid white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  text-align: center;
}

.kill:hover {
  background: #ffd157;
}

.partytext {
  display: inline-block;
  cursor: pointer;
  max-width: 210px;
}

.partytext span {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.partytext:hover span {
  animation: wave 0.25s ease-in-out infinite alternate;
}


/* Delay each letter's animation */
.partytext span:nth-child(1) { animation-delay: 0s; }
.partytext span:nth-child(2) { animation-delay: 0.025s; }
.partytext span:nth-child(3) { animation-delay: 0.05s; }
.partytext span:nth-child(4) { animation-delay: 0.075s; }
.partytext span:nth-child(5) { animation-delay: 0.1s; }

@keyframes wave {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-4px); }
  100% { transform: translateY(0px); }
}


@media screen and (max-width: 1400px) {
  #calc-outer,
  #notepad-outer,
  #note {
    display: none;
  }

  main {
    border-width: 0px;
  }
}

@media screen and (max-width: 768px) {
  li {
    display: flex;
    margin-bottom: 12px;
  }

  li div {
    flex-direction: column;
    align-items: flex-start;
  }

  footer {
    margin: 48px;
  }
}